---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import background from "../assets/main-desk.webp";
import background_mob from "../assets/main-mob.webp";

import Section from "../components/Section.astro";
import Container from "../components/Container.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { ImageModal } from "../components/ImageModal";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const photos = await Astro.glob("../assets/photos/*.webp").then((files) => {
  return files.map((file) => file.default);
});
const certs = await Astro.glob("../assets/certs/*.webp").then((files) => {
  return files.map((file) => file.default);
});
---

<Layout title={t("hero.title")}>
  <Section id="hero" class="flex-col z-10">
    <Container class="flex-col justify-center z-10">
      <div class="mt-auto md:my-auto">
        <h1
          class="text-4xl md:text-[4.8vw] leading-none font-nova text-[#E5E7EB] md:text-[#142322]"
        >
          {t("hero.title")}
        </h1>
        <p
          class="text-base md:text-[1.05vw] leading-tight font-light mt-2 text-[#E5E7EB] md:text-[#142322]"
        >
          {t("hero.subtitle")}
        </p>
      </div>
      <p
        class="text-sm md:text-[0.85vw] leading-tight font-light italic mb-6 mt-8 md:mb-24 text-[#E5E7EB] md:text-[#142322] whitespace-pre"
      >
        {t("hero.register")}
      </p>
    </Container>
    <Image
      src={background}
      alt="Alena Zhemchugova"
      class="hidden md:block md:absolute top-0 left-0 h-full w-full object-cover z-0"
      quality={100}
    />
    <Image
      src={background_mob}
      alt="Alena Zhemchugova"
      class="md:hidden absolute top-0 left-0 h-full w-full object-cover z-0"
      quality={100}
    />
  </Section>
  <Section id="certificates" class="flex-col bg-[#142322]">
    <Container class="items-center relative">
      <ul class="flex gap-4 md:gap-8 flex-wrap md:justify-center">
        {
          certs.map((cert, i) => (
            <ImageModal
              client:load
              className="w-[calc(50%-8px)] md:flex-auto md:w-[20%]"
            >
              <Image src={cert} alt="Certificate" quality={100} />
            </ImageModal>
          ))
        }
      </ul>
    </Container>
  </Section>
  <Section id="photos" class="flex-col bg-[#1B2D2B]">
    <Container class="md:items-center relative px-0 md:px-[5%] items-start">
      <ul
        class="flex md:gap-[1px] h-[80vh] md:h-auto flex-wrap md:justify-center"
      >
        {
          photos.map((photo, i) => (
            <ImageModal
              client:load
              className="w-[calc(50%)] max-h-40 md:max-h-64 md:flex-auto md:w-[15%]"
              src={photo}
            >
              <Image
                src={photo}
                alt="Photos from conferences"
                quality={100}
                class="max-h-[80vh] h-full object-cover object-left-top"
              />
            </ImageModal>
          ))
        }
      </ul>
    </Container>
  </Section>
  <Section id="contacts" class="flex-col bg-[#142322]">
    <Container
      class="flex-col relative justify-center md:max-w-[40%] mx-auto md:px-0"
    >
      <h2 class="text-4xl md:text-[2vw] text-white mb-5 font-nova">
        {t(`contacts.title`)}
      </h2>
      <form class="flex flex-col w-full py-5 gap-5">
        <input
          type="tel"
          class="md:text-[1vw] p-5 bg-transparent border border-[#746349] text-[#D1BE9F] rounded-lg leading-none"
          placeholder={t("contacts.phone")}
        />
        <input
          type="email"
          class="md:text-[1vw] p-5 bg-transparent border border-[#746349] text-[#D1BE9F] rounded-lg leading-none"
          placeholder="Email"
        />
        <textarea
          class="md:text-[1vw] p-5 bg-transparent border border-[#746349] text-[#D1BE9F] rounded-lg leading-none h-24"
          placeholder={t("contacts.textInput")}></textarea>
      </form>
      <button
        type="submit"
        class="bg-[#D1BE9F] md:text-[1vw] rounded-lg py-5 font-medium"
        >{t("contacts.button")}</button
      >
    </Container>
  </Section>
</Layout>
